---
layout: page
---

{{ content }}

{% if site.home_show_featured_pages %} {% assign featured_pages =
site.pages | where: "featured-on-home", true %} {% if featured_pages.size > 0 %}
<section class="featured-pages-section">
  <h2 class="featured-pages-title">Featured Pages</h2>
  <!-- role="list" needed so that list-style: none in Safari doesn't remove the list semantics -->
  <ul class="pages-list list-unstyled" role="list">
    {% for page in featured_pages %}
    <li class="page-preview">
      <article>
        {%- capture thumbnail -%} {% if page.thumbnail-img %} {{
        page.thumbnail-img }} {% elsif page.cover-img %} {% if
        page.cover-img.first %} {{ page.cover-img[0].first.first }} {% else %}
        {{ page.cover-img }} {% endif %} {% else %} {% endif %} {% endcapture %}
        {% assign thumbnail=thumbnail | strip %} {% if thumbnail != "" %}
        <div class="page-image page-image-small">
          <a href="{{ page.url | absolute_url }}" aria-label="Thumbnail">
            <img src="{{ thumbnail | absolute_url }}" alt="Page thumbnail" />
          </a>
        </div>
        {% endif %}

        <a href="{{ page.url | absolute_url }}">
          <h3 class="page-title">{{ page.title | strip_html }}</h3>
          {% if page.subtitle %}
          <h4 class="page-subtitle">{{ page.subtitle | strip_html }}</h4>
          {% endif %}
        </a>

        {% if page.author %}
        <span>By <strong>{{ page.author | strip_html }}</strong></span>
        {% endif %} {% if page.description %}
        <div class="page-description">{{ page.description }}</div>
        {% elsif page.excerpt %}
        <div class="page-description">
          {% assign excerpt_length = site.excerpt_length | default: 50 %} {{
          page.excerpt | strip_html | truncatewords: excerpt_length }}
        </div>
        {% endif %}
      </article>
    </li>
    {% endfor %}
  </ul>
</section>

{% endif %} {% endif %}
